/build/
/dist/
*.o
neblina-core_test
*.cmake
*.make
*.so
/CMakeCache.txt
/CTestTestfile.cmake
*.log
/Testing/Temporary/CTestCostData.txt
/Testing/Temporary/*.log
/CMakeFiles/
*.tcl
Makefile
*.txt
*.zip
*.xml
/nbproject/*.xml
/include/CL_old
matrix_test
sparse_matrix_test
vector_test
/test1/
*.iml
